.bgc {
  background-color: #fafafa;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-left {
  width: 755px;
  height: 32px;
  line-height: 32px;
  color: #999999;
}

.head-left a {
  color: #999999;
}

.head-left a:hover {
  color: #ff5d3d;
}

.head-left img {
  height: 21px;
  width: 92px;
  margin-left: 8px;
}

.head-right {
  width: 755px;
  height: 32px;
  line-height: 32px;
}

.head-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.head-right ul .head-com:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
}

.head-right ul .head-com:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.head-right ul li {
  height: 100%;
  padding: 0 16px;
  margin: 0 5px;
}

.head-right ul li a {
  color: #999999;
}

.head-right ul li a i {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin: -3px 0 0 4px;
  background-position: -5px -21px;
  overflow: hidden;
  vertical-align: middle;
  background-image: url(../images/head-tubiao.png);
  background-repeat: no-repeat;
}

.head-right ul #phone {
  height: 32px;
  position: relative;
}

.head-right ul #phone em {
  display: inline-block;
  width: 14px;
  height: 19px;
  margin: -2px 0 0 0;
  background-position: -5px -40px;
  margin-top: 5px;
  background-image: url(../head-tubiao.png);
  background-repeat: no-repeat;
}

.head-right ul #phone div {
  position: absolute;
  top: 32px;
  right: -15px;
  z-index: 10;
  display: none;
}

.head-right ul #Wechat {
  height: 32px;
  position: relative;
}

.head-right ul #Wechat div {
  position: absolute;
  top: 32px;
  right: 0px;
  z-index: 10;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
}

.head-right ul #Wechat em {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin: 2px 0 0 0;
  background-position: -4px -80px;
  margin-top: 8px;
  background-image: url(../head-tubiao.png);
  background-repeat: no-repeat;
}

#language {
  position: relative;
}

#language div {
  position: absolute;
  left: 0;
  top: 33px;
  display: none;
  z-index: 10;
  width: 150px;
  height: 66px;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  background-color: #fff;
}

#language div a {
  margin: 0;
  display: block;
  color: #666666;
}

#language div a:hover {
  color: #ff5d3d;
}

#language div a img {
  margin-right: 5px;
  margin-left: 16px;
}

#city {
  position: relative;
}

#city .logo {
  position: absolute;
  display: none;
  left: 0;
  width: 150px;
  padding-top: 20px;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  z-index: 10;
  background-color: #fff;
}

#city .logo div {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  background-position: 0 -248px;
  background-image: url(../images/BfCGPi.png);
  background-repeat: no-repeat;
}

#city .logo p {
  float: right;
  margin-right: 25px;
}

#city .logo p a {
  color: #00a0ff;
}

#city .logo span {
  display: inline-block;
  margin: 10px;
  margin-top: 0;
}

#city .logo span a {
  display: block;
  color: #999999;
  height: 20px;
  line-height: 20px;
}

#city .logo span a:hover {
  color: #ff5d3d;
}

#service {
  position: relative;
}

#service div {
  position: absolute;
  left: 0;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  width: 92px;
  height: 110px;
  display: none;
  z-index: 10;
  background-color: #fff;
}

#service div a {
  display: block;
  margin-top: 2px;
  height: 25px;
  line-height: 25px;
  color: #666666;
  margin-left: 17px;
}

#service div a:hover {
  color: #ff5d3d;
}

#cooperation {
  position: relative;
}

#cooperation div {
  position: absolute;
  left: 0;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  width: 92px;
  height: 140px;
  display: none;
  z-index: 10;
}

#cooperation div a {
  display: block;
  margin-top: 2px;
  height: 25px;
  line-height: 25px;
  color: #666666;
  margin-left: 17px;
}

#cooperation div a:hover {
  color: #ff5d3d;
}

.search-nav .Layout {
  height: 100px;
}

.search-nav .Layout .search-nav-he {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-nav .Layout .search-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-nav .Layout .search-left div:nth-child(1) {
  margin-top: 5px;
}

.search-nav .Layout .search-left div:nth-child(2) {
  position: relative;
}

.search-nav .Layout .search-left div:nth-child(2) a {
  display: block;
  width: 72px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 34px;
  margin-left: 10px;
}

.search-nav .Layout .search-left div:nth-child(2) a:hover {
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
}

.search-nav .Layout .search-left div:nth-child(2) a:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-nav .Layout .search-left div:nth-child(2) a span {
  font-size: 20px;
  color: #666666;
}

.search-nav .Layout .search-left div:nth-child(2) a i {
  display: inline-block;
  background-position: -5px -115px;
  width: 11px;
  height: 6px;
  margin: 0 0 5px 3px;
  background-image: url(../images/head-tubiao.png);
  background-repeat: no-repeat;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city {
  position: absolute;
  top: 74px;
  left: 10px;
  width: 475px;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  display: none;
  padding: 20px;
  z-index: 10;
  background-color: #fff;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city ul .rcc-at {
  position: relative;
  color: #00c77b;
  font-weight: 700;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city ul .rcc-at:before {
  content: '';
  position: absolute;
  top: 22px;
  width: 50px;
  height: 2px;
  border: 1px solid #00c77b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city .rcc-con span {
  color: #666;
  float: left;
  width: 50px;
  height: 20px;
  margin-right: 29px;
  margin-bottom: 6px;
  white-space: nowrap;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  line-height: 20px;
}

.search-nav .Layout .search-left div:nth-child(2) .recom-city .rcc-con span:hover {
  color: #ff5d3d;
}

.cities div .cities-one {
  float: left;
  display: block;
  width: 12px;
  font-size: 14px;
  margin-right: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #ff6600;
}

.cities div > span:nth-child(2) {
  display: block;
  float: left;
  width: 442px;
}

.cities div > span:nth-child(2) span {
  color: #666;
  float: left;
  width: 50px;
  height: 20px;
  margin-right: 21px;
  margin-bottom: 6px;
  white-space: nowrap;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  line-height: 20px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cities div > span:nth-child(2) span:hover {
  color: #ff5d3d;
}

.none {
  display: none;
}

.search-right {
  width: 910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-right div:nth-child(1) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 616px;
  height: 44px;
  border: 2px solid #01c077;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

.search-right div:nth-child(1) input {
  width: 100%;
  height: 40px;
  border: none;
  z-index: 1;
  padding-left: 10px;
}

.search-right div:nth-child(1) input::-webkit-input-placeholder {
  /*WebKit browsers*/
  color: #ccc;
  font-size: 14px;
}

.search-right div:nth-child(1) .search-right-active {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}

.search-right div:nth-child(1) .search-right-active i {
  position: absolute;
}

.search-right div:nth-child(1) .search-right-active i span {
  width: 40px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  margin: 10px 5px 0 0;
  background-color: #f0f0f0;
  color: #999999;
  border-radius: 10px;
}

.search-right div:nth-child(1) .search-right-active button {
  margin-left: 92px;
  border: none;
  width: 110px;
  height: 42px;
  color: #ffffff;
  font-size: 18px;
  background-color: #01c077;
}

.search-right div:nth-child(1) .hot-search {
  position: absolute;
  width: 616px;
  height: 130px;
  top: 42px;
  left: -2px;
  padding: 15px 30px 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-box-shadow: 0 0 16px 0 #ccc;
          box-shadow: 0 0 16px 0 #ccc;
  background-color: #fff;
  z-index: 111;
}

.search-right div:nth-child(1) .hot-search h3 {
  margin-bottom: 10px;
}

.search-right div:nth-child(1) .hot-search dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}

.search-right div:nth-child(1) .hot-search dl dt {
  width: 36px;
  height: 24px;
  font-weight: 700;
}

.search-right div:nth-child(1) .hot-search dl dd a {
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
}

.nav-class {
  position: relative;
  background-color: #01c07f;
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: white;
  font-size: 16px;
}

.nav-class .nav-class-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-class .nav-class-first > li i {
  display: inline-block;
  width: 13px;
  height: 6px;
  margin-left: 5px;
  background-position: -2px -150px;
  vertical-align: middle;
  margin-bottom: 2px;
  background-image: url(../images/head-tubiao.png);
  background-repeat: no-repeat;
}

.nav-class .nav-class-first > li > a {
  position: relative;
}

.nav-class .nav-class-first > li > a b {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid white;
  border-top: 5px solid transparent;
  position: absolute;
  left: 30%;
  bottom: -17px;
  display: none;
  -webkit-transition: opacity 10ms ease 150ms;
  transition: opacity 10ms ease 150ms;
}

.nav-class .nav-class-first > li .none {
  display: none;
}

.nav-class .nav-class-first > li .nav-class-xiala {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background-color: #fff;
  padding-left: 16.6%;
}

.nav-class .nav-class-first > li .nav-class-xiala a {
  position: relative;
  margin-right: 25px;
  font-size: 14px;
  color: #666666;
}

.nav-class .nav-class-first > li .nav-class-xiala a:hover {
  color: #ff5d3d;
}

.nav-class .nav-class-first > li .nav-class-xiala a img {
  position: absolute;
  top: -10px;
  left: 45px;
}

.nav-class .nav-class-first > li:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-class .nav-class-first > li:hover > a {
  font-weight: 700;
}

.nav-class .nav-class-first li:nth-child(1) {
  display: block;
  width: 100%;
  width: 50px;
  text-align: center;
  background-color: #43d093;
  margin-left: -15px;
}

.nav-class .nav-class-first .nav-class-hotel div {
  padding-left: 16.6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-plane div {
  padding-left: 22.7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-bus div {
  padding-left: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-Scenic div {
  padding-left: 22%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-around div {
  padding-left: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-inner div {
  padding-left: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-out div {
  padding-left: 38%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-Liner div {
  padding-left: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-Customized div {
  padding-left: 63%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-Finance div {
  padding-left: 69%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-Strategy div {
  padding-left: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .nav-class-ningxia div {
  padding-left: 57%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-class .nav-class-first .visa > p {
  width: -1px;
  height: 0;
  position: relative;
}

.nav-class .nav-class-first .visa em {
  position: absolute;
  width: 25px;
  height: 16px;
  top: -58px;
  left: 50%;
  color: #fff;
  background: #ff5346;
  padding: 0 2px;
  line-height: 15px;
  border-radius: 2px;
  font-size: 12px;
}

.nav-class .nav-class-first .visa em::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #ff6535;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nav-class .nav-class-first .nx em {
  width: 36px;
}

.nav-sevrice {
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.nav-sevrice ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #666666;
  width: 800px;
  left: -15px;
}

.nav-sevrice ul > li:hover {
  color: #0fb375;
}

.nav-sevrice span {
  font-size: 16px;
  color: #555555;
}

.nav-sevrice span::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 10px;
  height: 20px;
  width: 2px;
  border: 1px solid #00bf63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-sevrice .sevrice-wifi i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-sevrice-tubiao.png);
  background-repeat: no-repeat;
  background-position: -760px -223px;
}

.nav-sevrice .sevrice-play i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-sevrice-tubiao.png);
  background-repeat: no-repeat;
  background-position: -517px -64px;
}

.nav-sevrice .sevrice-Plane i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-sevrice-tubiao.png);
  background-repeat: no-repeat;
  background-position: -276px -226px;
}

.nav-sevrice .sevrice-Hotel i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/nav-sevrice-tubiao.png);
  background-repeat: no-repeat;
  background-position: -35px -150px;
}

.nav-place {
  position: relative;
  width: 100%;
  height: 400px;
}

.nav-place > a {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
}

.nav-place > a img {
  width: 100%;
  height: 100%;
}

.nav-place .Layout {
  position: absolute;
  height: 100%;
  top: 10px;
  left: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-place .Layout .nav-place-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 380px;
}

.nav-place .Layout .nav-place-left:hover .leftr-one {
  -webkit-box-shadow: 10px 5px 10px 0 #ccc;
          box-shadow: 10px 5px 10px 0 #ccc;
}

.nav-place .Layout .nav-place-left .nav-place-leftl {
  width: 75px;
  height: 100%;
}

.nav-place .Layout .nav-place-left .nav-place-leftl li {
  width: 100%;
  height: 47.5px;
  background-color: #475769;
  text-align: center;
  line-height: 47.5px;
}

.nav-place .Layout .nav-place-left .nav-place-leftl li a {
  color: #fff;
}

.nav-place .Layout .nav-place-left .nav-place-leftl li:nth-child(1) {
  background-color: #fff;
}

.nav-place .Layout .nav-place-left .nav-place-leftl li:nth-child(1) a {
  color: #333;
}

.nav-place .Layout .nav-place-left .nav-place-leftr {
  width: 375px;
  height: 100%;
}

.nav-place .Layout .nav-place-left .nav-place-leftr > li {
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one > .jipiao {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #eeeeee;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one > .jipiao span {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-top: 5px;
  font-size: 13px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one > .jipiao span .leftr-one-gre {
  position: absolute;
  left: 0px;
  bottom: -11px;
  width: 50px;
  height: 2px;
  border: 1px solid #00c77b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one > .jipiao .leftr-one-name {
  font-weight: 700;
  color: #00c77b;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice {
  padding-bottom: 11px;
  height: 32px;
  margin-top: 20px;
  font-size: 14px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dt {
  display: inline-block;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dd {
  position: relative;
  display: inline-block;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dd input[type='radio'] {
  display: none;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dd s {
  width: 14px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -20px;
  background: url(../images/nav-place-leftr.png) no-repeat 0px 1px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dd .choice-but {
  width: 14px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -20px;
  background: url(../images/nav-place-leftr.png) no-repeat -85px 1px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-Choice dd:nth-child(2) {
  margin: 0 30px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-city {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-city > li p {
  font-size: 14px;
  margin-bottom: 10px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-city > li input {
  height: 25px;
  width: 130px;
  font-size: 14px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-city > div {
  width: 23px;
  height: 23px;
  display: block;
  background-position: 0 -40px;
  cursor: pointer;
  position: absolute;
  left: 146px;
  top: 28px;
  background: url(../images/nav-place-leftr.png) no-repeat 0 -40px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date p {
  font-size: 14px;
  margin-bottom: 10px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date input {
  height: 25px;
  width: 130px;
  font-size: 14px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date div {
  height: 29px;
  width: 134px;
  line-height: 29px;
  border: 1px solid #a9a9a9;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype {
  position: relative;
  height: 29px;
  width: 134px;
  line-height: 29px;
  border: 1px solid #a9a9a9;
  font-size: 14px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype em {
  width: 8px;
  height: 5px;
  position: absolute;
  top: 13px;
  left: 117px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/guojijipiao.png) no-repeat 0 -208px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype .cabintype-shang {
  background-position: -30px -208px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype .cabintype_list {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 134px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype .cabintype_list li {
  padding-left: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-dates .leftr-one-date .cabintype .cabintype_list li:hover {
  background-color: #f0f0f0;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-button {
  position: relative;
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.nav-place .Layout .nav-place-left .nav-place-leftr .leftr-one .leftr-one-button > input {
  position: absolute;
  right: 0;
  border: none;
  background-color: #ff5346;
  width: 130px;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
}

.nav-place .Layout .nav-place-right {
  width: 200px;
  height: 380px;
}

.nav-place .Layout .nav-place-right a {
  width: 100%;
  height: 100%;
}

.nav-place .Layout .nav-place-right a img {
  width: 100%;
  height: 100%;
}

.leftr-one-international {
  width: 100%;
  height: 344px;
}
/*# sourceMappingURL=index.css.map */