.bgc {
    background-color: #fafafa;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
}

.Layout {
    display: flex;
}

.head-left {
    width: 755px;
    height: 32px;
    line-height: 32px;
    color: #999999;

    a {
        color: #999999;

        &:hover {
            color: #ff5d3d;
        }
    }

    img {
        height: 21px;
        width: 92px;
        margin-left: 8px;

    }
}

.head-right {
    width: 755px;
    height: 32px;
    line-height: 32px;

    ul {
        display: flex;
        padding-left: 20px;

        .head-com:hover {
            background-color: #fff;
            box-shadow: 0 0 16px 0 #ccc;

            i {
                transform: rotate(180deg);
            }
        }

        li {
            height: 100%;
            padding: 0 16px;
            margin: 0 5px;

            a {
                color: #999999;

                i {
                    display: inline-block;
                    width: 8px;
                    height: 5px;
                    margin: -3px 0 0 4px;
                    background-position: -5px -21px;
                    overflow: hidden;
                    vertical-align: middle;
                    background-image: url(../images/head-tubiao.png);
                    background-repeat: no-repeat;
                }

            }
        }

        #phone {
            height: 32px;
            position: relative;

            em {
                display: inline-block;
                width: 14px;
                height: 19px;
                margin: -2px 0 0 0;
                background-position: -5px -40px;
                margin-top: 5px;
                background-image: url(../head-tubiao.png);
                background-repeat: no-repeat;
            }

            div {
                position: absolute;
                top: 32px;
                right: -15px;
                z-index: 10;
                display: none;
            }
        }

        #Wechat {
            height: 32px;
            position: relative;

            div {
                position: absolute;
                top: 32px;
                right: 0px;
                z-index: 10;
                display: none;
                background-color: #fff;
                box-shadow: 0 0 16px 0 #ccc;
            }

            em {
                display: inline-block;
                width: 20px;
                height: 18px;
                margin: 2px 0 0 0;
                background-position: -4px -80px;
                margin-top: 8px;
                background-image: url(../head-tubiao.png);
                background-repeat: no-repeat;
            }
        }
    }

}

#language {
    position: relative;

    div {
        position: absolute;
        left: 0;
        top: 33px;
        display: none;
        z-index: 10;
        width: 150px;
        height: 66px;
        box-shadow: 0 0 16px 0 #ccc;
        background-color: #fff;


        a {
            margin: 0;
            display: block;
            color: #666666;

            &:hover {
                color: #ff5d3d;
            }

            img {
                margin-right: 5px;
                margin-left: 16px;
            }
        }
    }
}

#city {
    position: relative;

    .logo {
        position: absolute;
        display: none;
        left: 0;
        width: 150px;
        padding-top: 20px;
        box-shadow: 0 0 16px 0 #ccc;
        z-index: 10;
        background-color: #fff;

        div {
            display: inline-block;
            width: 36px;
            height: 36px;
            margin-left: 10px;
            // margin-right: 10px;
            background-position: 0 -248px;
            background-image: url(../images/BfCGPi.png);
            background-repeat: no-repeat
        }

        p {
            float: right;
            // display: inline-block;
            margin-right: 25px;

            a {
                color: #00a0ff;


            }
        }

        span {
            display: inline-block;
            margin: 10px;
            margin-top: 0;

            a {
                display: block;
                color: #999999;
                height: 20px;
                line-height: 20px;

                &:hover {
                    color: #ff5d3d;
                }
            }
        }
    }

}


#service {
    position: relative;

    div {
        position: absolute;
        left: 0;
        box-shadow: 0 0 16px 0 #ccc;
        width: 92px;
        height: 110px;
        display: none;
        z-index: 10;
        // text-align: center;
        background-color: #fff;


        a {

            display: block;
            margin-top: 2px;
            height: 25px;
            line-height: 25px;
            color: #666666;
            margin-left: 17px;

            &:hover {
                color: #ff5d3d;
            }
        }
    }
}

#cooperation {
    position: relative;

    div {
        position: absolute;
        left: 0;
        box-shadow: 0 0 16px 0 #ccc;
        width: 92px;
        height: 140px;
        display: none;
        z-index: 10;
        // text-align: center;


        a {

            display: block;
            margin-top: 2px;
            height: 25px;
            line-height: 25px;
            color: #666666;
            margin-left: 17px;

            &:hover {
                color: #ff5d3d;
            }
        }
    }
}

.search-nav .Layout {
    height: 100px;

    .search-nav-he {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .search-left {
        display: flex;

        div:nth-child(1) {
            margin-top: 5px;
        }

        div:nth-child(2) {
            position: relative;

            a {
                display: block;
                width: 72px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                margin-top: 34px;
                margin-left: 10px;

                &:hover {
                    // background-color: #fff;
                    box-shadow: 0 0 16px 0 #ccc;

                    i {
                        transform: rotate(180deg);
                    }
                }

                span {
                    font-size: 20px;
                    color: #666666;
                }

                i {
                    display: inline-block;
                    background-position: -5px -115px;
                    width: 11px;
                    height: 6px;
                    // vertical-align: middle;
                    margin: 0 0 5px 3px;
                    background-image: url(../images/head-tubiao.png);
                    background-repeat: no-repeat;
                }


            }

            .recom-city {
                position: absolute;
                // font-style: none;
                top: 74px;
                left: 10px;
                width: 475px;
                box-shadow: 0 0 16px 0 #ccc;
                display: none;
                padding: 20px;
                z-index: 10;
                background-color: #fff;

                ul {
                    display: flex;
                    justify-content: space-between;
                    // margin-top: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #eeeeee;

                    .rcc-at {
                        position: relative;
                        color: #00c77b;
                        font-weight: 700;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 22px;
                            width: 50px;
                            height: 2px;
                            border: 1px solid #00c77b;
                            box-sizing: border-box;
                        }
                    }
                }

                .rcc-con {
                    // display: flex;

                    span {
                        color: #666;
                        float: left;
                        width: 50px;
                        height: 20px;
                        margin-right: 29px;
                        margin-bottom: 6px;
                        // margin-top: 10px;
                        white-space: nowrap;
                        transition: all ease .2s;
                        line-height: 20px;

                        // overflow: hidden;
                        &:hover {
                            color: #ff5d3d;
                        }
                    }



                }

            }
        }
    }
}


.cities {
    div {

        .cities-one {
            float: left;
            display: block;
            width: 12px;
            font-size: 14px;
            margin-right: 15px;
            line-height: 22px;
            font-weight: 700;
            color: #ff6600;
        }

        &>span:nth-child(2) {
            display: block;
            float: left;
            width: 442px;

            span {
                // float: left;
                color: #666;
                float: left;
                width: 50px;
                height: 20px;
                margin-right: 21px;
                margin-bottom: 6px;
                white-space: nowrap;
                transition: all ease .2s;
                line-height: 20px;
                cursor: pointer;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                &:hover {
                    color: #ff5d3d;
                }
            }
        }


    }
}

.none {
    display: none;
}

.search-right {
    width: 910px;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
        position: relative;
        display: flex;

        width: 616px;
        height: 44px;
        border: 2px solid #01c077;
        box-sizing: border-box;
        margin-top: 30px;

        input {
            width: 100%;
            height: 40px;
            border: none;
            z-index: 1;
            padding-left: 10px;

        }

        input::-webkit-input-placeholder {
            /*WebKit browsers*/

            color: #ccc;
            font-size: 14px;

        }

        .search-right-active {
            width: 200px;
            display: flex;
            justify-content: right;
            position: relative;

            i {
                position: absolute;

                span {

                    width: 40px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    text-align: center;
                    margin: 10px 5px 0 0;
                    background-color: #f0f0f0;
                    color: #999999;
                    border-radius: 10px;
                }

            }


            button {
                margin-left: 92px;
                border: none;
                width: 110px;
                height: 42px;
                color: #ffffff;
                font-size: 18px;
                background-color: #01c077;
            }
        }

        .hot-search {
            position: absolute;
            width: 616px;
            height: 130px;
            top: 42px;
            left: -2px;
            padding: 15px 30px 15px 10px;
            box-sizing: border-box;
            display: none;
            box-shadow: 0 0 16px 0 #ccc;
            background-color: #fff;
            z-index: 111;

            h3 {
                margin-bottom: 10px;
            }

            dl {
                display: flex;
                // justify-content: space-between;
                // margin-top: 10px;
                line-height: 1.5;

                dt {
                    // display: block;
                    width: 36px;
                    height: 24px;
                    font-weight: 700;

                }

                dd {

                    // display: block;
                    a {
                        display: inline-block;
                        // width: 10px;
                        margin-right: 20px;
                        // line-height: 2;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}


.nav-class {
    position: relative;
    background-color: #01c07f;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: white;
    font-size: 16px;

    .nav-class-first {
        // position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        justify-items: center;
        align-items: center;

        &>li {
            // position: relative;

            i {
                display: inline-block;
                width: 13px;
                height: 6px;
                margin-left: 5px;
                background-position: -2px -150px;
                vertical-align: middle;
                margin-bottom: 2px;
                background-image: url(../images/head-tubiao.png);
                background-repeat: no-repeat;

            }


            &>a {
                position: relative;

                b {
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 5px solid white;
                    border-top: 5px solid transparent;
                    position: absolute;
                    left: 30%;
                    bottom: -17px;
                    display: none;
                    transition: opacity 10ms ease 150ms;
                }

            }

            .none {
                display: none
            }

            .nav-class-xiala {
                position: absolute;
                left: 0;
                width: 100%;
                height: 50px;
                z-index: 100;
                background-color: #fff;
                padding-left: 16.6%;



                a {
                    position: relative;
                    margin-right: 25px;
                    font-size: 14px;
                    color: #666666;

                    &:hover {
                        color: #ff5d3d;
                    }

                    img {
                        position: absolute;
                        top: -10px;
                        left: 45px;
                    }
                }
            }

            // .nav-class-plane {
            //     padding-left: 20%;
            // }



            &:hover i {

                transform: rotate(180deg);
            }

            &:hover>a {
                font-weight: 700;
            }
        }

        li:nth-child(1) {
            display: block;
            width: 100%;
            width: 50px;
            text-align: center;
            background-color: #43d093;
            margin-left: -15px;
        }

        .nav-class-hotel {
            div {
                padding-left: 16.6%;
                box-sizing: border-box;
            }

        }

        .nav-class-plane {

            div {
                padding-left: 22.7%;
                box-sizing: border-box;
            }

        }

        .nav-class-bus {

            div {
                padding-left: 30%;
                box-sizing: border-box;
            }


        }

        .nav-class-Scenic {

            div {
                padding-left: 22%;
                box-sizing: border-box;
            }

        }


        .nav-class-around {

            div {
                padding-left: 35%;
                box-sizing: border-box;
            }

        }

        .nav-class-inner {

            div {
                padding-left: 40%;
                box-sizing: border-box;
            }

        }


        .nav-class-out {

            div {
                padding-left: 38%;
                box-sizing: border-box;
            }

        }


        .nav-class-Liner {

            div {
                padding-left: 48%;
                box-sizing: border-box;
            }

        }

        .nav-class-Customized {

            div {
                padding-left: 63%;
                box-sizing: border-box;
            }

        }

        .nav-class-Finance {

            div {
                padding-left: 69%;
                box-sizing: border-box;
            }

        }

        .nav-class-Strategy {

            div {
                padding-left: 70%;
                box-sizing: border-box;
            }
        }

        .nav-class-ningxia {

            div {
                padding-left: 57%;
                box-sizing: border-box;
            }
        }




        .visa {
            &>p {
                width: -1px;
                height: 0;
                position: relative;

            }

            em {
                position: absolute;
                width: 25px;
                height: 16px;
                top: -58px;
                left: 50%;
                color: #fff;
                background: #ff5346;
                padding: 0 2px;
                line-height: 15px;
                border-radius: 2px;
                font-size: 12px;

                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 0 solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 4px solid #ff6535;
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                }
            }

        }

        .nx {
            em {
                width: 36px;
            }
        }
    }
}

.nav-sevrice {
    height: 40px;
    line-height: 40px;
    width: 100%;
    // background-color: red;

    ul {
        position: relative;
        display: flex;
        justify-content: space-around;
        color: #666666;
        width: 800px;
        left: -15px;

        &>li:hover {
            color: #0fb375;
        }
    }

    span {
        font-size: 16px;
        color: #555555;

        &::before {
            content: "";
            position: absolute;
            left: 16px;
            top: 10px;
            height: 20px;
            width: 2px;
            border: 1px solid #00bf63;
            box-sizing: border-box;
        }
    }

    .sevrice-wifi {
        i {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            // margin-top: 10px;
            background-image: url(../images/nav-sevrice-tubiao.png);
            background-repeat: no-repeat;
            background-position: -760px -223px;
        }


    }

    .sevrice-play {
        i {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            // margin-top: 10px;
            background-image: url(../images/nav-sevrice-tubiao.png);
            background-repeat: no-repeat;
            background-position: -517px -64px;
        }
    }


    .sevrice-Plane {
        i {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            // margin-top: 10px;
            background-image: url(../images/nav-sevrice-tubiao.png);
            background-repeat: no-repeat;
            background-position: -276px -226px;
        }
    }

    .sevrice-Hotel {
        i {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            // margin-top: 10px;
            background-image: url(../images/nav-sevrice-tubiao.png);
            background-repeat: no-repeat;
            background-position: -35px -150px;
        }
    }

}


.nav-place {
    position: relative;
    width: 100%;
    height: 400px;
    // background-image: url(../images/nav-place-bg.jpg);

    &>a {
        position: relative;
        display: block;
        width: 100%;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .Layout {
        position: absolute;
        height: 100%;
        top: 10px;
        left: 298px;
        display: flex;
        justify-content: space-between;


        .nav-place-left {
            display: flex;

            width: 450px;
            height: 380px;

            &:hover .leftr-one {
                background-color: #fff;
                box-shadow: 10px 10px 16px 0 #ccc;
            }

            .nav-place-leftl {
                width: 75px;
                height: 100%;

                li {
                    width: 100%;
                    height: 47.5px;
                    background-color: #475769;
                    text-align: center;
                    line-height: 47.5px;

                    a {
                        color: #fff;
                    }

                }

                .nav-place-leftl-tap {
                    background-color: #fff;

                    a {
                        color: #333;
                    }
                }
            }

            .nav-place-leftr {
                width: 375px;
                height: 100%;

                &>li {
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    box-sizing: border-box;
                    background-color: #fff;
                }

                .leftr-one {
                    &>.jipiao {
                        width: 100%;
                        height: 28px;
                        border-bottom: 1px solid #eeeeee;

                        span {
                            position: relative;
                            display: inline-block;
                            height: 100%;
                            width: auto;
                            // border: 2px solid red;
                            margin-right: 25px;
                            // margin-top: 5px;
                            box-sizing: border-box;
                            font-size: 13px;
                            // color: ;
                            font-weight: 400;


                        }

                        .leftr-one-name {
                            font-weight: 700;
                            color: #00c77b;
                            border-bottom: 2px solid #00c77b;
                            box-sizing: border-box;
                        }
                    }

                    .leftr-one-Choice {
                        padding-bottom: 11px;
                        height: 32px;
                        margin-top: 20px;
                        font-size: 14px;

                        dt {
                            display: inline-block;

                        }

                        dd {
                            position: relative;
                            display: inline-block;

                            input[type='radio'] {
                                display: none;
                            }

                            s {
                                width: 14px;
                                height: 20px;
                                display: inline-block;
                                position: absolute;
                                top: -2px;
                                left: -20px;
                                background: url(../images/nav-place-leftr.png) no-repeat 0px 1px;
                            }

                            .choice-but {
                                width: 14px;
                                height: 20px;
                                display: inline-block;
                                position: absolute;
                                top: -2px;
                                left: -20px;
                                background: url(../images/nav-place-leftr.png) no-repeat -85px 1px;
                            }
                        }

                        dd:nth-child(2) {
                            margin: 0 30px;
                        }
                    }

                    .leftr-one-city {
                        position: relative;
                        width: 100%;
                        height: 80px;
                        display: flex;
                        justify-content: space-between;

                        &>li {
                            p {
                                font-size: 14px;
                                margin-bottom: 10px;
                            }

                            input {
                                height: 25px;
                                width: 130px;
                                font-size: 14px;
                                padding-left: 5px;
                                border: none;
                                border: 1px solid #dddddd;
                                box-sizing: border-box;
                            }
                        }

                        &>div {
                            width: 23px;
                            height: 23px;
                            display: block;
                            background-position: 0 -40px;
                            cursor: pointer;
                            position: absolute;
                            left: 146px;
                            top: 28px;
                            background: url(../images/nav-place-leftr.png) no-repeat 0 -40px;
                        }

                        .wangfan {
                            background-position: 0 -300px;
                        }

                    }

                    .leftr-one-dates {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 70px;

                        .leftr-one-date {
                            &>p {
                                font-size: 14px;
                                margin-bottom: 10px;
                            }

                            input {
                                height: 25px;
                                width: 130px;
                                font-size: 14px;
                                border: none;
                                padding-left: 5px;
                                border: 1px solid #dddddd;
                                box-sizing: border-box;
                            }

                            .Passenger {
                                position: relative;
                                height: 29px;
                                width: 134px;
                                line-height: 29px;
                                border: 1px solid #a9a9a9;
                                font-size: 14px;
                                padding-left: 5px;
                                box-sizing: border-box;

                                .Passenger-list {
                                    position: absolute;
                                    top: 28px;
                                    left: -1px;
                                    width: 260px;
                                    height: auto;
                                    padding: 20px;
                                    background-color: #fff;
                                    box-sizing: border-box;
                                    box-shadow: 1px 1px 7px 1px #ccc;
                                    z-index: 2;


                                    .tishi {
                                        width: 220px;
                                        height: 50px;
                                        background-color: #fcf8ec;
                                        color: #aa814d;
                                        padding-top: 10px;
                                        box-sizing: border-box;

                                        // line-height: 50px;
                                        p {
                                            line-height: 1.2;
                                            padding: 0 5px;
                                            box-sizing: border-box;
                                            font-size: 12px;

                                            a {
                                                color: #00a0ff;
                                            }
                                        }
                                    }

                                    .Adult,
                                    .children {
                                        width: 220px;
                                        height: 30px;
                                        line-height: 30px;
                                        margin-top: 15px;
                                        display: flex;

                                        p {
                                            display: inline-block;
                                            width: 42px;
                                            height: 26px;
                                        }

                                        .com_spinner {
                                            display: inline-block;
                                            overflow: hidden;

                                            .decrease {
                                                width: 26px;
                                                height: 26px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                margin-left: 10px;
                                                margin-bottom: 2px;
                                                background: url(../images/guojijipiao.png) no-repeat 0 0;
                                            }

                                            .disabled {
                                                background-position: 0 -42px;
                                            }


                                            input {
                                                width: 40px;
                                                height: 22px;
                                                text-align: center;
                                                // margin-top: 1px;

                                            }

                                            .increase {
                                                width: 26px;
                                                height: 26px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                margin-bottom: 2px;
                                                background: url(../images/guojijipiao.png) no-repeat -74px 0;
                                            }

                                            .disableds {
                                                background-position: -74px -42px;
                                            }

                                        }


                                    }

                                    .panel_btns {
                                        width: 106px;
                                        height: 30px;
                                        background-color: #ff5346;
                                        text-align: center;
                                        line-height: 30px;
                                        margin-left: 52px;
                                        margin-top: 15px;

                                        // &:hover{
                                        //     background-color: rgba(0, 0, 0,0.1 )

                                        // }

                                        a {
                                            color: white;
                                            ;
                                        }
                                    }
                                }

                            }

                            .cabintype {
                                position: relative;
                                height: 29px;
                                width: 134px;
                                line-height: 29px;
                                border: 1px solid #a9a9a9;
                                font-size: 14px;
                                padding-left: 5px;
                                box-sizing: border-box;

                                em {
                                    width: 8px;
                                    height: 5px;
                                    position: absolute;
                                    top: 13px;
                                    left: 117px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    background: url(../images/guojijipiao.png) no-repeat 0 -208px;
                                }

                                .cabintype-shang {
                                    background-position: -30px -208px;
                                }

                                .cabintype_list {
                                    position: absolute;
                                    top: 29px;
                                    left: 0px;
                                    width: 134px;
                                    background-color: #fff;
                                    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .2);
                                    z-index: 2;

                                    li {
                                        padding-left: 3px;
                                        box-sizing: border-box;
                                    }

                                    li:hover {
                                        background-color: #f0f0f0;
                                    }
                                }

                            }


                        }
                    }

                    .leftr-one-button {
                        position: relative;
                        width: 100%;
                        height: 35px;
                        margin-top: 10px;

                        &>input {
                            position: absolute;
                            right: 0;
                            border: none;
                            background-color: #ff5346;
                            width: 130px;
                            height: 100%;
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }

                    .set_default {
                        position: relative;

                        #checkGcd {
                            margin-top: 2px;
                        }

                        em {
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            background-color: #fff;
                            position: absolute;
                            top: -3px;
                            left: 0;
                            background: url(../images/huochepiao-all.png) no-repeat;
                            background-position: -121px 0;
                        }

                        .setDef-s {
                            background-position: -121px -36px
                        }

                        span {
                            color: #99a6b3;
                        }
                    }

                }
            }


        }

        .leftr-three-inner-one {
            display: flex;
            justify-content: space-between;
            width: 300px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            margin-top: 20px;



            &>p {
                width: 61px;
                height: 30px;
                line-height: 30px;
                text-align: right;
                padding-right: 5px;
                box-sizing: border-box;
            }

            &>ul {
                display: block;
                height: 30px;
                width: 230px;

                input {
                    width: 100%;
                    height: 30px;
                    border: none;
                    border: 1px solid #ccc;
                    padding-left: 5px;
                    box-sizing: border-box;

                }

            }

            span {
                position: relative;
                display: block;
                font-size: 13px;
                width: 56px;
                height: 30px;

                // margin-left: 15px;
                em {
                    position: absolute;
                    right: -17px;
                    top: 6px;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-color: green;
                    background: url(../images/nav-place-leftr.png) no-repeat 0 -165px;
                }
            }

            &:nth-child(1) ul {
                display: block;
                height: 30px;
                width: 160px;

                input {
                    width: 100%;
                    height: 30px;
                    border: none;
                    border: 1px solid #ccc;
                    padding-left: 5px;
                    box-sizing: border-box;

                }
            }

        }




        .nav-place-right {
            width: 200px;
            height: 380px;

            &:hover {
                box-shadow: 0 0 16px 0 #ccc;
            }

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// 国际机票
.leftr-one-international {
    width: 100%;
    height: 344px;
}

.leftr-one-other {
    height: 410px;
    // background-color: 'white';
    z-index: 2
}

.leftr-three-outer {
    .leftr-three-inner-one {
        width: 315px;

        input {
            width: 200px;
        }

        // width: 100%;

    }

    &>h4 {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    &>ul {
        display: flex;
        margin-bottom: 10px;

        li {
            margin-right: 20px;
        }

        a {
            position: relative;
            display: block;
            left: 38px;

            em {
                background-position: -90px -169px;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 2px;
                left: 27 px;
                background-image: url(../images/nav-place-leftr.png);
            }
        }
    }

    i {
        display: block;
        margin-top: 10px;
    }

    // .two-resou{
    //     width: 100%;
    //     height: 50px;
    //     float: left;
    // }
    .leftr-one-button {
        margin-bottom: 40px;
    }
}






// 主题 
main {
    height: 1000px;
}

// 特惠

.Preferential {
    width: 100%;
    height: 660px;
    margin-top: 42px;
    // background-color: powderblue;

    .Preferential-top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        // line-height: 70px;
        background-color: #fff;

        h1 {
            margin: 0;
            font-size: 30px;
        }

        ul {
            display: flex;
            // justify-content: center;

            margin-left: 90px;

            li {
                margin-right: 30px;
                color: #666666;
                width: auto;
                height: 32px;
                line-height: 32px;
                font-size: 15px;
                box-sizing: border-box;
            }

            .Preferential-top-tap {
                color: #00c77b;
                font-weight: 700;
                border-bottom: 3px solid #00c77b;
            }
        }

    }
}

.Preferential-bottom {
    width: 100%;

    // height: 100%;
    .Preferential-first {
        ul {
            display: flex;
            justify-content: space-between;
            height: 276px;
            width: 100%;

            &>li {
                position: relative;
                height: 100%;
                width: 244px;
                background-color: #fff;
                border: 1px solid #eeeeee;
                box-sizing: border-box;

                a {
                    img {
                        width: 100%;
                    }
                }

                .Preferential-bottom-price {
                    position: absolute;
                    right: 0;
                    bottom: 101px;
                    // width: auto;
                    height: 36px;
                    // line-height: 36px;
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: #ff6e60;
                    color: white;
                    font-size: 12px;
                    text-align: center;

                    span {
                        font-size: 16px;
                    }

                    em {
                        font-size: 20px;
                    }


                }
            }

            .Preferential-first-big {
                position: relative;
                width: 510px;

                div {
                    position: absolute;
                    display: flex;
                    bottom: 0;
                    width: 100%;
                    height: 70px;
                    background-color: #333;
                    opacity: 0.5;
                    // z-index: 1;
                    padding-left: 15px;
                    box-sizing: border-box;


                }

                h3 {
                    position: absolute;
                    font-weight: normal;
                    bottom: 0;
                    left: 10px;
                    // z-index: 2;
                    opacity: 1;
                    width: 367px;
                    height: 70px;

                    p {
                        font-size: 20px;
                        color: white;
                        margin: 10px 0;
                    }

                    span {
                        color: #ccc;
                    }

                }

                &>p {
                    position: absolute;
                    bottom: -1px;
                    right: 0;
                    height: 70px;
                    width: 143px;
                    background-color: #ff6e60;
                    color: white;
                    font-size: 14px;
                    text-align: center;
                    line-height: 70px;

                    span {
                        font-size: 20px;
                    }

                    em {
                        font-size: 30px;
                    }
                }

            }
        }

        ul:nth-child(2) {
            margin-top: 22px;
        }
    }
}